/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    /*-fx-base: rgb(50, 50, 50);
    -fx-background-color: lightsteelblue; */
}

.border-pane {
    -fx-padding: 10;
}

.stack-pane {
    -fx-padding: 10;
}

.vbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}

.hbox {
    -fx-padding: 10;
    -fx-spacing: 10;
}
