/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-font-size: 12pt;
    -fx-font-family: "Consolas";
    /*-fx-base: rgb(50, 50, 50);
    -fx-background-color: lightsteelblue; */
}

#stackpane {

}

#title {
    -fx-font-size: 40;
 }

/*.text-area .scroll-bar:vertical .increment-arrow,
.text-area .scroll-bar:vertical .decrement-arrow,
.text-area .scroll-bar:vertical .increment-button,
.text-area .scroll-bar:vertical .decrement-button, */
.tree-view .scroll-bar:vertical .increment-arrow,
.tree-view .scroll-bar:vertical .decrement-arrow,
.tree-view .scroll-bar:vertical .increment-button,
.tree-view .scroll-bar:vertical .decrement-button {
    -fx-padding: 0;
    -fx-opacity: 0;
}
